<div>
  <div fxLayout="row" fxLayoutGap="50px">
    <mat-form-field class="form-control">
      <mat-select placeholder="Patient">
        <mat-option *ngFor="let item of patients" [value]="item.id">
            {{item.firstName}} {{item.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-control">
      <input matInput [matDatepicker]="date" placeholder="Date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-control">
      <mat-select placeholder="Department">
        <mat-option *ngFor="let item of illnesses | enumKeys" [value]="item.value">
            {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="50px">
    <mat-form-field class="form-control">
      <mat-select placeholder="Start time">
        <mat-option *ngFor="let time of times" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-control">
      <mat-select placeholder="End time">
        <mat-option *ngFor="let time of times" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
      <mat-form-field class="form-control">
          <mat-select placeholder="Doctor">
            <mat-option *ngFor="let item of doctors" [value]="item.id">
                {{item.firstName}} {{item.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
 
  <div fxLayout="row"> 
    <mat-form-field class="form-control">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="10" placeholder="Note" (input)="onChange($event)"></textarea>
    </mat-form-field>
  </div>

  <div fxLayout="row" class="form-control"> 
    <span class="spacer"></span>
    <button mat-flat-button>Submit</button>
  </div>
</div>

  